<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show details</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head> 
    <body>
        
        <div class="main min-w-100 min-h-screen text-white bg-zinc-900 p-10 ">
            <h1 class="text-4xl p-5 tracking-tighter text-center"> <%= FileName%></h1>
            <p class="text-2xl mt-5 "><%= FileData %></p>     
            <a href="/" class="text-blue-400 inline-block mt-20 p-2 rounded "> > Back to home</a>
        </div>
     
    </body>
</html>